<table matSort (matSortChange)="sortData($event)" id="sharesTable" style="width:100%">
    <thead>
      <tr>
        <td class="noborder">
          <label for="searchTerms">Search:</label>
        </td>
        <td class="noborder">
            <form (ngSubmit)="update()" #loginForm="ngForm">
              <mat-form-field>
              <input matInput type="text" class="form-control" id="searchTerms" required [(ngModel)]="searchTerms" name="searchTerms"></mat-form-field>
            </form>
        </td>
        <td class="noborder">
          <button mat-button (click)="update()">→</button>
        </td>
      <td class="noborder"><label>Results to display:</label> </td> 
        <td class="noborder"> 
        <input matInput placeholder="Results to display" type="number" (onSelection)="update()" [(ngModel)]="count" [ngModelOptions]="{standalone: true}">
      </td>
      </tr>
      <tr>
        <th mat-sort-header="CompanySymbol">Symbol</th>
        <th mat-sort-header="CompanyName">Name</th>
        <th mat-sort-header="Value">Price</th>
        <th>
          <mat-select [(ngModel)]="currency" (selectionChange)="currencyChange()">
            <mat-option *ngFor="let c of currencies" [value]="c" >
              {{c}}
            </mat-option>
          </mat-select>
        </th>
        <th mat-sort-header="SharesAvailable">Shares Available</th>
        <th mat-sort-header="LastUpdate">Last Update</th>
      </tr>
    </thead>
    <tbody *ngIf="shares; else elseBlock">
      <tr *ngFor="let share of shares">
        <td> {{share.companySymbol}} </td>
        <td> {{share.companyName}} </td>
        <td colspan=2> {{share.sharePrice.value | number:'1.2-2'}} {{share.sharePrice.currency}} </td>
        <td> {{share.numberOfSharesAvailable}} </td>
        <td> {{share.lastUpdate * 1000 | date:'medium'}} </td>
        <td class="noborder"><button mat-raised-button color="primary" (click)="addShare(share.companySymbol)">+</button></td>
      </tr>
    </tbody>
    <ng-template #elseBlock>
      <h3> No shares! </h3>
    </ng-template>
</table>

