#sharesTable {
  font-family: Lucidatypewriter, monospace;
  border-collapse: collapse;
  width: 100%;
}

#sharesTable td, #sharesTable th {
  border: 1px solid #cce0ff;
  padding: 10px;
}

#sharesTable tr:nth-child(even){background-color: #EEEEEE;}

#sharesTable tr:hover {background-color: #cce0ff;}

#sharesTable th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #0066ff;
  color: white;
}
