 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


/*w3cs stuff above*/

.alert {
  padding: 15px;
  border: 1px solid white;
  margin-bottom: 10px;
  background-color: green;
  color: white;
}

.closebtn {
  float: right;
  font-size: 24px;
  margin-left: 12px;
  line-height: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.closebtn:hover {
  color: black;
} 

* {
font-family: Lucidatypewriter, monospace;
}

#sharesTable {
  border-collapse: collapse;
  width: 100%;
}

#sharesTable td, #sharesTable th {
  border: 1px solid #cce0ff;
  padding: 10px;
}


#sharesTable th {
  background-color: #0066ff;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

#sharesTable tr:nth-child(even){background-color: #EEEEEE;}

#sharesTable tr:hover {background-color: #cce0ff;}

#sharesTable {
    Width: 100%;
}

#searchForm {
    padding: 10px;
    width:100%;
}


#searchForm *{
margin-left:auto; margin-right:0;
}

#valueField {
    width: 70% !important;
}

#sharesTable input {
    width: 95%;
}


