
* {
font-family: Lucidatypewriter, monospace;
}

#sharesTable {
  border-collapse: collapse;
  width: 100%;
}

#sharesTable td, #sharesTable th {
  border: 1px solid #cce0ff;
  padding: 10px;
}

#sharesTable .hide {
  visibility:hidden;
  border: none;
}

#sharesTable .noborder {
  border: none;
  background: none;
}


#sharesTable .noborder:hover {
  background: none;
}

#sharesTable th {
  background-color: #0066ff;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

#sharesTable tr:nth-child(even){background-color: #EEEEEE;}

#sharesTable tr:hover {background-color: #cce0ff;}

#sharesTable {
    Width: 100%;
}
